.throughline{
  text-decoration: line-through;
}

.task_img{
  width:40px;
  height: 40px;
  border-radius: 30px;
;

}

.alert{
  top: 0;
  right:0;
}
.Alertlimit{
  background-color: coral;
  padding: 10px;
  transition: 3s;
}

input[type=checkbox] {
  transform: scale(1.9);
  
}

